<!-- obstacle detector -->
<launch>

  <!-- <param name="use_sim_time" value="true"/>   -->

  <node name="nodelet_manager" pkg="nodelet" type="nodelet" args="manager" output="screen">
    <param name="num_worker_threads" value="20"/>
  </node>

  <node name="scans_merger" pkg="nodelet" type="nodelet" args="load obstacle_detector/ScansMerger nodelet_manager">
    <param name="active"            value="true"/>
    <param name="publish_scan"      value="true"/>
    <param name="publish_pcl"       value="true"/>

    <param name="ranges_num"        value="1000"/>

    <param name="min_scanner_range" value="0.00"/>
    <param name="max_scanner_range" value="10.0"/>

    <param name="min_x_range"       value="-10.0"/>
    <param name="max_x_range"       value="10.0"/>
    <param name="min_y_range"       value="-10.0"/>
    <param name="max_y_range"       value="10.0"/>

    <param name="fixed_frame_id"    value="map"/>
    <!-- <param name="target_frame_id"   value="robot"/> -->
    <param name="target_frame_id"   value="base_link"/>
  </node>

  <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node" >
    <param name="active"               value="true"/>
    <param name="use_scan"             value="true"/> <!-- default:false -->
    <param name="use_pcl"              value="false"/> <!-- default:true -->

    <param name="use_split_and_merge"    value="false"/> <!-- default:true -->
    <param name="circles_from_visibles"  value="true"/> <!-- default:false -->
    <param name="discard_converted_segments" value="true"/>
    <param name="transform_coordinates"  value="true"/>

    <param name="min_group_points"     value="5"/> <!-- default:5 -->

    <param name="max_group_distance"   value="0.15"/> <!-- default:0.1 -->
    <param name="distance_proportion"  value="0.00628"/>
    <param name="max_split_distance"   value="0.2"/>
    <param name="max_merge_separation" value="0.2"/>
    <param name="max_merge_spread"     value="0.2"/>
    <param name="max_circle_radius"    value="0.5"/> <!-- default:0.6 -->
    <param name="radius_enlargement"   value="0.2"/> <!-- default:0.3 -->

    <param name="frame_id"             value="base_link"/>
  </node>

</launch>
<!-- -->
